In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('C:\\Users\\arif\\OneDrive\\Journal Paper\\Code\\Irshad\\Dataset\\2_Dataset_cyclic_holi.csv', parse_dates=['Date'], index_col='Date')

# Days Counts (manually) in 5 years 4 monts of datasets

In [3]:
print('non leaf year :', 31*7 + 30*4 + 28*1)
print('leaf year     :', 31*7 + 30*4 + 29*1)
print('first 4 months:', 31*2 + 30*1 + 29*1)
print('total         :', 4*(31*7+30*4+28*1)  +  (31*7+30*4+29*1)  +  (31*2+30*1+29*1))

non leaf year : 365
leaf year     : 366
first 4 months: 121
total         : 1947

# Days Counts (in dataset after loading) in 5 years 4 monts of datasets

In [5]:
df.groupby('Date').sum()

            HOUR
Date
2015-01-01   300
2015-01-02   300
2015-01-03   300
2015-01-04   300
2015-01-05   300
...          ...
2020-11-04   300
2020-12-01   301
2020-12-02   300
2020-12-03   300
2020-12-04   300

[1946 rows x 1 columns]

# Load points

In [4]:
print('non leaf year :', 24*31*7 + 24*30*4 + 24*28*1)
print('leaf year     :', 24*31*7 + 24*30*4 + 24*29*1)
print('first 4 months:', 24*31*2 + 24*30*1 + 24*29*1)
print('total         :', 4*(24*31*7+24*30*4+24*28*1)  +  (24*31*7+24*30*4+24*29*1)  +  (24*31*2+24*30*1+24*29*1))
print('difference    :', 46728-46608)

non leaf year : 8760
leaf year     : 8784
first 4 months: 2904
total         : 46728
difference    : 120

In [2]:
46728-46557

171

In [5]:
sum = 0 
for i in [2015, 2016, 2017, 2018, 2019, 2020]:
    print(i, ': ', len(df[df['Year'] == i]))
    sum += len(df[df['Year'] == i])
print('Total: ', sum)

2015 :  8736
2016 :  8736
2017 :  8736
2018 :  8736
2019 :  8760
2020 :  2904
Total:  46608

In [6]:
print('missing valves in 2015: ', 8760-8736)
print('missing valves in 2016: ', 8784-8736)
print('missing valves in 2017: ', 8760-8736)
print('missing valves in 2018: ', 8760-8736)

missing valves in 2015:  24
missing valves in 2016:  48
missing valves in 2017:  24
missing valves in 2018:  24