In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df=pd.read_csv(r'C:\Users\Administrator\Downloads\ML Lab\AEP_hourly\\AEP_hourly.csv')
df.head(2)

              Datetime   AEP_MW
0  2004-12-31 01:00:00  13478.0
1  2004-12-31 02:00:00  12865.0

In [5]:
print('Data Points= ',len(df))

Data Points=  121273

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121273 entries, 0 to 121272
Data columns (total 2 columns):
 #   Column    Non-Null Count   Dtype
---  ------    --------------   -----
 0   Datetime  121273 non-null  object
 1   AEP_MW    121273 non-null  float64
dtypes: float64(1), object(1)
memory usage: 1.9+ MB

In [13]:
df['Date']=pd.to_datetime(df['Datetime'])

In [14]:
df['rough']='00:00'
df['hour']=df['HOUR']-1
df["hour_m_s"] = df['hour'].astype(str) +":"+ df["rough"].astype(str)
df["date_and_hour"] = df['Date'].astype(str) +" "+ df["hour_m_s"].astype(str)
del df["hour_m_s"]
del df["rough"]
del df['hour']
del df['HOUR']
del df['Date']
df.head()

KeyError: 'HOUR'

In [37]:
df['date_and_hour']=pd.to_datetime(df['date_and_hour'])
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 46608 entries, 0 to 46607
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   System_load    46608 non-null  object
 1   date_and_hour  46608 non-null  datetime64[ns]
dtypes: datetime64[ns](1), object(1)
memory usage: 728.4+ KB

In [38]:
#df.set_index('date_and_hour', inplace=True)
df

      System_load       date_and_hour
0            8288 2015-01-01 00:00:00
1            8099 2015-01-01 01:00:00
2            7994 2015-01-01 02:00:00
3            7965 2015-01-01 03:00:00
4            8120 2015-01-01 04:00:00
...           ...                 ...
46603       16858 2020-04-30 19:00:00
46604       17105 2020-04-30 20:00:00
46605       16824 2020-04-30 21:00:00
46606       16332 2020-04-30 22:00:00
46607       15003 2020-04-30 23:00:00

[46608 rows x 2 columns]

In [39]:
# Drop Duplicates Except the First Occurrence
df.drop_duplicates(subset=['date_and_hour'], keep ='first',  inplace= True)
df

      System_load       date_and_hour
0            8288 2015-01-01 00:00:00
1            8099 2015-01-01 01:00:00
2            7994 2015-01-01 02:00:00
3            7965 2015-01-01 03:00:00
4            8120 2015-01-01 04:00:00
...           ...                 ...
46603       16858 2020-04-30 19:00:00
46604       17105 2020-04-30 20:00:00
46605       16824 2020-04-30 21:00:00
46606       16332 2020-04-30 22:00:00
46607       15003 2020-04-30 23:00:00

[46557 rows x 2 columns]

In [50]:
df.iloc[120:150]

          date_and_hour  System_load
120 2015-01-06 00:00:00       8212.0
121 2015-01-06 01:00:00       8134.0
122 2015-01-06 02:00:00       8014.0
123 2015-01-06 03:00:00       7699.0
124 2015-01-06 04:00:00       7652.0
125 2015-01-06 05:00:00       7947.0
126 2015-01-06 06:00:00       8399.0
127 2015-01-06 07:00:00       8428.0
128 2015-01-06 08:00:00       8083.0
129 2015-01-06 09:00:00       8042.0
130 2015-01-06 10:00:00       8055.0
131 2015-01-06 11:00:00       8282.0
132 2015-01-06 12:00:00       9066.0
133 2015-01-06 13:00:00       9117.0
134 2015-01-06 14:00:00       9088.0
135 2015-01-06 15:00:00       9117.0
136 2015-01-06 16:00:00       9151.0
137 2015-01-06 17:00:00       9455.0
138 2015-01-06 18:00:00       9463.0
139 2015-01-06 19:00:00       9946.0
140 2015-01-06 20:00:00      10209.0
141 2015-01-06 21:00:00       9581.0
142 2015-01-06 22:00:00       8913.0
143 2015-01-06 23:00:00       8806.0
144 2015-01-07 00:00:00       8181.0
145 2015-01-07 01:00:00       8175.0
146 2015-01-07 02:00:00       8053.0
147 2015-01-07 03:00:00       7794.0
148 2015-01-07 04:00:00       7882.0
149 2015-01-07 05:00:00       8423.0

In [ ]:
df.set_index('date_and_hour', inplace=True)
df=df.sort_index(ascending=True)

df.head(1)

In [42]:
missing_Timestamp=pd.date_range('2015-1-1','2020-4-30',freq='H').difference(df.index)
print('\nNumber of Missing Timestamp= ',len(missing_Timestamp),'\n')
print(missing_Timestamp.to_list())

Number of Missing Timestamp=  171

[Timestamp('2015-01-07 23:00:00'), Timestamp('2015-01-08 00:00:00'), Timestamp('2015-03-12 02:00:00'), Timestamp('2015-06-05 08:00:00'), Timestamp('2015-06-05 09:00:00'), Timestamp('2015-06-05 10:00:00'), Timestamp('2015-06-05 11:00:00'), Timestamp('2015-06-05 12:00:00'), Timestamp('2015-06-05 13:00:00'), Timestamp('2015-06-05 14:00:00'), Timestamp('2015-06-05 15:00:00'), Timestamp('2015-06-05 16:00:00'), Timestamp('2015-06-05 17:00:00'), Timestamp('2015-06-05 18:00:00'), Timestamp('2015-06-05 19:00:00'), Timestamp('2015-06-05 20:00:00'), Timestamp('2015-06-05 21:00:00'), Timestamp('2015-06-05 22:00:00'), Timestamp('2015-06-05 23:00:00'), Timestamp('2015-06-06 00:00:00'), Timestamp('2015-06-06 01:00:00'), Timestamp('2015-06-06 02:00:00'), Timestamp('2015-06-06 03:00:00'), Timestamp('2015-06-06 04:00:00'), Timestamp('2015-06-06 05:00:00'), Timestamp('2015-06-06 06:00:00'), Timestamp('2015-06-06 07:00:00'), Timestamp('2015-07-03 01:00:00'), Timestamp('2016-01-07 23:00:00'), Timestamp('2016-01-08 00:00:00'), Timestamp('2016-02-29 00:00:00'), Timestamp('2016-02-29 01:00:00'), Timestamp('2016-02-29 02:00:00'), Timestamp('2016-02-29 03:00:00'), Timestamp('2016-02-29 04:00:00'), Timestamp('2016-02-29 05:00:00'), Timestamp('2016-02-29 06:00:00'), Timestamp('2016-02-29 07:00:00'), Timestamp('2016-02-29 08:00:00'), Timestamp('2016-02-29 09:00:00'), Timestamp('2016-02-29 10:00:00'), Timestamp('2016-02-29 11:00:00'), Timestamp('2016-02-29 12:00:00'), Timestamp('2016-02-29 13:00:00'), Timestamp('2016-02-29 14:00:00'), Timestamp('2016-02-29 15:00:00'), Timestamp('2016-02-29 16:00:00'), Timestamp('2016-02-29 17:00:00'), Timestamp('2016-02-29 18:00:00'), Timestamp('2016-02-29 19:00:00'), Timestamp('2016-02-29 20:00:00'), Timestamp('2016-02-29 21:00:00'), Timestamp('2016-02-29 22:00:00'), Timestamp('2016-02-29 23:00:00'), Timestamp('2016-03-12 02:00:00'), Timestamp('2016-06-05 08:00:00'), Timestamp('2016-06-05 09:00:00'), Timestamp('2016-06-05 10:00:00'), Timestamp('2016-06-05 11:00:00'), Timestamp('2016-06-05 12:00:00'), Timestamp('2016-06-05 13:00:00'), Timestamp('2016-06-05 14:00:00'), Timestamp('2016-06-05 15:00:00'), Timestamp('2016-06-05 16:00:00'), Timestamp('2016-06-05 17:00:00'), Timestamp('2016-06-05 18:00:00'), Timestamp('2016-06-05 19:00:00'), Timestamp('2016-06-05 20:00:00'), Timestamp('2016-06-05 21:00:00'), Timestamp('2016-06-05 22:00:00'), Timestamp('2016-06-05 23:00:00'), Timestamp('2016-06-06 00:00:00'), Timestamp('2016-06-06 01:00:00'), Timestamp('2016-06-06 02:00:00'), Timestamp('2016-06-06 03:00:00'), Timestamp('2016-06-06 04:00:00'), Timestamp('2016-06-06 05:00:00'), Timestamp('2016-06-06 06:00:00'), Timestamp('2016-06-06 07:00:00'), Timestamp('2017-01-07 23:00:00'), Timestamp('2017-01-08 00:00:00'), Timestamp('2017-03-12 02:00:00'), Timestamp('2017-06-05 08:00:00'), Timestamp('2017-06-05 09:00:00'), Timestamp('2017-06-05 10:00:00'), Timestamp('2017-06-05 11:00:00'), Timestamp('2017-06-05 12:00:00'), Timestamp('2017-06-05 13:00:00'), Timestamp('2017-06-05 14:00:00'), Timestamp('2017-06-05 15:00:00'), Timestamp('2017-06-05 16:00:00'), Timestamp('2017-06-05 17:00:00'), Timestamp('2017-06-05 18:00:00'), Timestamp('2017-06-05 19:00:00'), Timestamp('2017-06-05 20:00:00'), Timestamp('2017-06-05 21:00:00'), Timestamp('2017-06-05 22:00:00'), Timestamp('2017-06-05 23:00:00'), Timestamp('2017-06-06 00:00:00'), Timestamp('2017-06-06 01:00:00'), Timestamp('2017-06-06 02:00:00'), Timestamp('2017-06-06 03:00:00'), Timestamp('2017-06-06 04:00:00'), Timestamp('2017-06-06 05:00:00'), Timestamp('2017-06-06 06:00:00'), Timestamp('2017-06-06 07:00:00'), Timestamp('2017-07-03 01:00:00'), Timestamp('2018-01-07 23:00:00'), Timestamp('2018-01-08 00:00:00'), Timestamp('2018-03-12 02:00:00'), Timestamp('2018-06-05 08:00:00'), Timestamp('2018-06-05 09:00:00'), Timestamp('2018-06-05 10:00:00'), Timestamp('2018-06-05 11:00:00'), Timestamp('2018-06-05 12:00:00'), Timestamp('2018-06-05 13:00:00'), Timestamp('2018-06-05 14:00:00'), Timestamp('2018-06-05 15:00:00'), Timestamp('2018-06-05 16:00:00'), Timestamp('2018-06-05 17:00:00'), Timestamp('2018-06-05 18:00:00'), Timestamp('2018-06-05 19:00:00'), Timestamp('2018-06-05 20:00:00'), Timestamp('2018-06-05 21:00:00'), Timestamp('2018-06-05 22:00:00'), Timestamp('2018-06-05 23:00:00'), Timestamp('2018-06-06 00:00:00'), Timestamp('2018-06-06 01:00:00'), Timestamp('2018-06-06 02:00:00'), Timestamp('2018-06-06 03:00:00'), Timestamp('2018-06-06 04:00:00'), Timestamp('2018-06-06 05:00:00'), Timestamp('2018-06-06 06:00:00'), Timestamp('2018-06-06 07:00:00'), Timestamp('2018-07-03 01:00:00'), Timestamp('2019-01-09 23:00:00'), Timestamp('2019-01-27 23:00:00'), Timestamp('2019-02-08 23:00:00'), Timestamp('2019-02-10 23:00:00'), Timestamp('2019-02-27 23:00:00'), Timestamp('2019-03-02 23:00:00'), Timestamp('2019-03-20 23:00:00'), Timestamp('2019-04-12 23:00:00'), Timestamp('2019-05-10 23:00:00'), Timestamp('2019-05-16 23:00:00'), Timestamp('2019-05-20 23:00:00'), Timestamp('2019-05-31 23:00:00'), Timestamp('2019-06-02 23:00:00'), Timestamp('2019-07-01 22:00:00'), Timestamp('2019-07-01 23:00:00'), Timestamp('2019-07-05 23:00:00'), Timestamp('2019-07-11 23:00:00'), Timestamp('2019-08-14 00:00:00'), Timestamp('2019-09-01 01:00:00'), Timestamp('2019-10-02 00:00:00'), Timestamp('2019-10-08 01:00:00'), Timestamp('2019-11-10 00:00:00'), Timestamp('2019-12-19 00:00:00'), Timestamp('2019-12-21 00:00:00'), Timestamp('2019-12-24 00:00:00'), Timestamp('2019-12-28 00:00:00'), Timestamp('2020-01-03 23:00:00'), Timestamp('2020-01-11 00:00:00'), Timestamp('2020-01-31 00:00:00'), Timestamp('2020-02-17 01:00:00'), Timestamp('2020-03-22 23:00:00'), Timestamp('2020-03-23 22:00:00'), Timestamp('2020-03-30 22:00:00'), Timestamp('2020-03-30 23:00:00'), Timestamp('2020-04-02 22:00:00'), Timestamp('2020-04-02 23:00:00')]

In [43]:
df = df.resample('H').first().fillna(np.NaN)
missing_Timestamp=pd.date_range('2015-1-1','2020-4-30',freq='H').difference(df.index)
print('\nNumber of Missing Timestamp= ',len(missing_Timestamp),'\n')
print(missing_Timestamp.to_list())

Number of Missing Timestamp=  0

[]

In [44]:
df.reset_index(inplace=True)
len_list=df[df['System_load'].isnull()].index.tolist()
df.iloc[len_list[:len(len_list)]]

            date_and_hour System_load
167   2015-01-07 23:00:00         NaN
168   2015-01-08 00:00:00         NaN
1682  2015-03-12 02:00:00         NaN
3728  2015-06-05 08:00:00         NaN
3729  2015-06-05 09:00:00         NaN
...                   ...         ...
45814 2020-03-23 22:00:00         NaN
45982 2020-03-30 22:00:00         NaN
45983 2020-03-30 23:00:00         NaN
46054 2020-04-02 22:00:00         NaN
46055 2020-04-02 23:00:00         NaN

[171 rows x 2 columns]

In [45]:
print('values are missing at the following indexes:\n',len_list)

values are missing at the following indexes:
 [167, 168, 1682, 3728, 3729, 3730, 3731, 3732, 3733, 3734, 3735, 3736, 3737, 3738, 3739, 3740, 3741, 3742, 3743, 3744, 3745, 3746, 3747, 3748, 3749, 3750, 3751, 4393, 8927, 8928, 10176, 10177, 10178, 10179, 10180, 10181, 10182, 10183, 10184, 10185, 10186, 10187, 10188, 10189, 10190, 10191, 10192, 10193, 10194, 10195, 10196, 10197, 10198, 10199, 10466, 12512, 12513, 12514, 12515, 12516, 12517, 12518, 12519, 12520, 12521, 12522, 12523, 12524, 12525, 12526, 12527, 12528, 12529, 12530, 12531, 12532, 12533, 12534, 12535, 17711, 17712, 19226, 21272, 21273, 21274, 21275, 21276, 21277, 21278, 21279, 21280, 21281, 21282, 21283, 21284, 21285, 21286, 21287, 21288, 21289, 21290, 21291, 21292, 21293, 21294, 21295, 21937, 26471, 26472, 27986, 30032, 30033, 30034, 30035, 30036, 30037, 30038, 30039, 30040, 30041, 30042, 30043, 30044, 30045, 30046, 30047, 30048, 30049, 30050, 30051, 30052, 30053, 30054, 30055, 30697, 35279, 35711, 35999, 36047, 36455, 36527, 36959, 37511, 38183, 38327, 38423, 38687, 38735, 39430, 39431, 39527, 39671, 40464, 40897, 41640, 41785, 42576, 43512, 43560, 43632, 43728, 43895, 44064, 44544, 44953, 45791, 45814, 45982, 45983, 46054, 46055]

In [46]:
df['System_load']=pd.to_numeric(df['System_load'],errors='coerce')

In [47]:
df.isnull().sum()

date_and_hour      0
System_load      173
dtype: int64

In [48]:
df.to_csv('C:\\Users\\arif\\OneDrive\\Journal Paper\\Code\\Irshad\\Dataset\\2_Missing_Values_Identified.csv',index=False)